@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  /* High Density Color Override Mapping */
  --color-rose-500: #FF3B30;
  --color-rose-600: #E6352B;
  --color-rose-400: #FF5A50;
  --color-rose-950: #3D0E0C;
  --color-indigo-600: #2F62FF;
  --color-indigo-500: #3B82F6;
  --color-slate-900: #242426;
  --color-slate-800: #1C1C1E;
  --color-slate-950: #0F0F11;
}
